<section id="about" class="about">
  <div class="imgAbout"></div>
  <div class="lightGrey">
    <div class="container clearfix">
      <div class="shortBtn ">
        <a href="https://www.dropbox.com/s/3mewdxu1cj67ak3/Bruno%20Meira%20Melhado.pdf?dl=0" class="print" target="_blank">
          <span>Download My CV</span>
          <i class="icon-down-circled "></i>
        </a>
      </div>
      <div class="aboutContent overview row">
        <div class="aboutTitle">
          <h1>Bruno Meira<span>Ruby on Rails Developer</span></h1>
        </div>
        <div class="aboutIntro">
          <h1>Hi, I'm Bruno Meira</h1>
          <p>I'm 28 year old and I'm Ruby on Rails Developer who living in Guarulhos - SP.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="darkGrey">
    <div class="container clearfix">
      <div class="aboutContent row">
        <div class="aboutInfo">
          <ul>
            <li><span>Phone</span> : (11) 99937-6783</li>
            <li><span>E-mail</span> : bruno.meiramelhado@gmail.com</li>
            <li><span>Site</span> : <a href="http://meirabruno.github.io">meirabruno.github.io</a></li>
            <li><span>City</span> : Guarulhos - SP</li>
          </ul>
        </div>
        <div class="aboutSocial">
          <ul>
            <li><a class="facebook" href="https://www.facebook.com/bruno.meiramelhado" target="_blank"><i class="icon-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/brunomeira" target="_blank"><i class="icon-twitter"></i></a></li>
            <li><a class="linkedin" href="https://br.linkedin.com/pub/bruno-meira-melhado/24/851/745" target="_blank"><i class="icon-linkedin"></i></a></li>
            <li><a class="github" href="https://github.com/meirabruno" target="_blank"><i class="icon-github"></i></a></li>
            <li><a class="pinterest" href="https://www.pinterest.com/bmmelhado/" target="_blank"><i class="icon-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
