<div class="education">
  <h2 class="titleSmall">My Education</h2>
  <!--Ed-->
  <div class="ed clearfix">
    <div class="dtIco">
      <span class="ico"><i class="icon-graduation-cap"></i></span>
      <span class="date">2015</span>
    </div>

    <div class="det">
      <h3>Technologist in Systems Analysis and Development <a href="http://portal.ifspguarulhos.edu.br/"><span>IFSP - Campus Guarulhos</span></a></h3>
      <p>Technologist in Systems Analysis and Development analyzes, designs, documents, specify, test, implement and maintain computer systems of information. This professional works, also with computer tools, computer equipment and project methodology in production systems. Logical reasoning, use of programming languages and project methodologies, focus on quality, usability, robustness, integrity and safety programs are critical to performance of this professional. </p>
    </div>
  </div>
  <!--End ed-->
</div>
<div class="education">
  <h2 class="titleSmall">My Additional Education</h2>
  <div class="ed clearfix">
    <div class="dtIco">
      <span class="ico"><i class="icon-graduation-cap"></i></span>
      <span class="date">2011</span>
    </div>
    <div class="det">
      <h3>Development Java Web <span>– <a href="http://primeinf.com.br/" target="_blank">Prime Informática</a></span> </h3>
      <p>Trainee training program, which is available from now Prime Informatica a six-month training in the Java language with a focus on frameworks adopted by the company. After this period were forwarded to manufactures software to complete the training. </p>
    </div>
  </div>
  <div class="ed clearfix">
    <div class="dtIco">
      <span class="ico"><i class="icon-graduation-cap"></i></span>
      <span class="date">2013</span>
    </div>
    <div class="det">
      <h3>Development Android SDK - Basic <span>– <a href="http://www.k19.com.br/" target="_blank">K19 Treinamentos</a></span> </h3>
      <p>Object-Oriented Concepts, use of core Java libraries such as Java Collections and Java IO, besides the main Java development tool, Eclipse. Presentation of the programming model and Android resources for the development of mobile applications. </p>
    </div>
  </div>
  <div class="ed clearfix">
    <div class="dtIco">
      <span class="ico"><i class="icon-graduation-cap"></i></span>
      <span class="date">2014</span>
    </div>
    <div class="det">
      <h3>Development Android SDK - Advanced <span>– <a href="http://www.iai.art.br/" target="_blank">Instituto de Artes Interativas</a></span> </h3>
      <p>Approach practice of Android development. What key applications using the SDK resources. Implementation of various aplicaticos for study of the Android SDK features. As well as guidance on the labor market in the mobile development industry. </p>
    </div>
  </div>  
</div>
<!--End employment and education-->