<div class="employment">
  <h2 class="titleSmall">My Employment</h2>
  <div class="em clearfix">
    <div class="dtIco">
      <span class="ico"><i class="icon-suitcase"></i></span>
      <span class="date">2015 - present</span>
    </div>
    <div class="det">
      <h3>Ruby on Rails Development <span>– <a href="http://tracersoft.com.br" target="_blank">Codus </a></span> </h3>
      <p>Expertise in developing systems for startups and other companies, from its planning to its post delivery maintenance. Daily use of Git, AWS, Gitlab, Javascrip, CSS, HTML, several gems, scrum among other tools and methodologies.</p>
    </div>
  </div>
  <div class="em clearfix">
    <div class="dtIco">
      <span class="ico"><i class="icon-suitcase"></i></span>
      <span class="date">2014 - 2015</span>
    </div>
    <div class="det">
      <h3>Ruby on Rails Development <span>– <a href="http://tracersoft.com.br" target="_blank">Tracersoft</a></span> </h3>
      <p>Expertise in developing systems for the third sector, from its planning to its post delivery maintenance. Daily use of git, heroku, AWS, GitHub, pull request, several gems, scrum among other tools and methodologies.</p>
    </div>
  </div>
  <div class="em clearfix">
    <div class="dtIco">
      <span class="ico"><i class="icon-suitcase"></i></span>
      <span class="date">2011-2014</span>
    </div>
    <div class="det">
      <h3>Java Development <span>– <a href="http://primeinf.com.br/" target="_blank">Prime Informática</a></span> </h3>
      <p>Expertise in developing systems for the financial sector, from its planning to its post delivery maintenance. Requirements analysis along with customer and preparation of action plan. </p>
    </div>
  </div>
</div>
