<!--Footer-->
<footer class="footer  offset">
  <!--Bottom footer-->
  <div class="footerholder">
    <!--Container-->
    <div class="container clearfix">
      <div class="eight columns">
        <p>© 2015 All Rights Reserved.</p>
      </div>
      <div class="eight columns ">
        <ul class="socialsFooter">
          <li><a class="facebook" href="https://www.facebook.com/bruno.meiramelhado" target="_blank"><i class="icon-facebook"></i></a></li>
          <li><a class="twitter" href="https://twitter.com/brunomeira" target="_blank"><i class="icon-twitter"></i></a></li>
          <li><a class="linkedin" href="https://br.linkedin.com/pub/bruno-meira-melhado/24/851/745" target="_blank"><i class="icon-linkedin"></i></a></li>
          <li><a class="github" href="https://github.com/meirabruno" target="_blank"><i class="icon-github"></i></a></li>
          <li><a class="pinterest" href="https://www.pinterest.com/bmmelhado/" target="_blank"><i class="icon-pinterest"></i></a></li>
        </ul>
      </div>
    </div>
    <!--End container-->
  </div>
  <!--End bottom footer-->
</footer>
<!--End footer-->