<div class="widget">
  <h2 class="titleSmall">Graphic Skills</h2>
  <ul class="skillsList clearfix">
    <li>
      <h4>photoshop</h4>
      <div class="rating">
        <span></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
      </div>
    </li>
    <li>
      <h4>illustrator</h4>
      <div class="rating">
        <span></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
      </div>
    </li>
    <li>
      <h4>inkscape</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
      </div>
    </li>
  </ul>
</div>
