<div class="widget">
  <h2 class="titleSmall">Language Skills</h2>
  <ul class="skillsList clearfix">
    <li>
      <h4>English</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
      </div>
    </li>
    <li>
      <h4>spanish</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
      </div>
    </li>
  </ul>
</div>
