<!--Header-->
  <header id="header">
    <!--Main header-->
    <div class="mainHeader">

      <!--Container-->
      <div class="container clearfix">

        <!--Navigation-->
        <nav id="mainNav">
          <a href="#" class="mobileBtn"><i class="icon-menu"></i></a>

          <ul>
            <li><a href="#wrapper">Home</a></li>
            <li><a href="#resume">Resume</a></li>
            <!-- li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li-->
          </ul>

        </nav>
        <!--End navigation-->

        <!--End container-->
      </div>
      <!--End main header-->
    </div>
  </header>
<!--End header-->