<!--Header-->
  <header id="header">
    <!--Main header-->
    <div class="mainHeader">

      <!--Container-->
      <div class="container clearfix">

        <!--Navigation-->
        <nav id="mainNav">
          <a href="#" class="mobileBtn"><i class="icon-menu"></i></a>

          <ul>
            <li><a href="{{ site.url}}">Home</a></li>
            <li><a href="{{ site.url}}#resume">Resume</a></li>
            <li><a href="{{ site.url}}#posts">Posts</a></li>
          </ul>

        </nav>
        <!--End navigation-->

        <!--End container-->
      </div>
      <!--End main header-->
    </div>
  </header>
<!--End header-->
