<!--Widget-->
<div class="widget">
  <h2 class="titleSmall">Personal Skills</h2>
  <p>Some of the attributes that I find interesting to note. </p>
  <ul class="pList">
    <li><i class="icon-ok"></i>Responsible</li>
    <li><i class="icon-ok"></i>Diligence</li>
    <li><i class="icon-ok"></i>Labour</li>
    <li><i class="icon-ok"></i>Rigor</li>
    <li><i class="icon-ok"></i>Creative</li>
    <li><i class="icon-ok"></i>Funny</li>
    <li><i class="icon-ok"></i>Great Communicator</li>
    <li><i class="icon-ok"></i>Flexible</li>
    <li><i class="icon-ok"></i>Pragmatic</li>
  </ul>

</div>
<!--End widget-->