
<section id="portfolio" class="offset bBottom section">
  <div class="innerContent">
    <div class="container clearfix">
      <div class="sixteen columns">
        <h1 class="titleBig">portfolio</h1>
      </div>
      <div class="filterNav">
        <ul id="category" class="filter">
          <li class="all current"><a href="#">All</a></li>
          <li class="catWeb"><a href="#"> Web Design</a></li>
          <li class="catGraphic"><a href="#">Graphic Design</a></li>
          <li class="catMotion"><a class="last" href="#">Motion Graphic</a></li>
        </ul>
      </div>
      <div id="works" class="clearfix ">
        <ul class="portfolio clearfix">
          <li class="one-third column  item " data-id="id-1" data-type="catWeb">
            <div>
              <a href="assets/images/portfolioImages/wl1.jpg" class="folio">
                <div class="desc">
                  <h3 class="projDesc">Project Name <span>&#8213; web design &#8213;</span></h3>
                </div>
                <img src="assets/images/portfolioImages/w1.jpg" alt="">
              </a>
            </div>
          </li>
          <li class="one-third column  item  " data-id="id-2" data-type="catWeb">
            <div>
              <a href="assets/images/portfolioImages/wl2.jpg" class="folio">
                <div class="desc">
                  <h3 class="projDesc">Project Name <span>&#8213; web design &#8213;</span></h3>
                </div>
                <img src="assets/images/portfolioImages/w2.jpg" alt="">
              </a>
            </div>
          </li>
          <li class="one-third column  item " data-id="id-3" data-type="catGraphic">
            <div>
              <a href="assets/images/portfolioImages/wl3.jpg" class="folio">
                <div class="desc">
                  <h3 class="projDesc">Project Name <span>&#8213; graphic design &#8213;</span></h3>
                </div>
                <img src="assets/images/portfolioImages/w3.jpg" alt="">
              </a>
            </div>
          </li>
          <li class="one-third column  item " data-id="id-4" data-type="catGraphic">
            <div>
              <a href="assets/images/portfolioImages/wl4.jpg" class="folio">
                <div class="desc">
                  <h3 class="projDesc">Project Name <span>&#8213; graphic design &#8213;</span></h3>
                </div>
                <img src="assets/images/portfolioImages/w4.jpg" alt="">
              </a>
            </div>
          </li>
          <li class="one-third column  item " data-id="id-5" data-type="catGraphic">
            <div>
              <a href="assets/images/portfolioImages/wl5.jpg" class="folio">
                <div class="desc">
                  <h3 class="projDesc">Project Name <span>&#8213; graphic design &#8213;</span></h3>
                </div>
                <img src="assets/images/portfolioImages/w5.jpg" alt="">
              </a>
            </div>
          </li>
          <li class="one-third column  item " data-id="id-6" data-type="catMotion">
            <div>
              <a href="assets/images/portfolioImages/wl6.jpg" class="folio">
                <div class="desc">
                  <h3 class="projDesc">Project Name <span>&#8213; motion graphic &#8213;</span></h3>
                </div>
                <img src="assets/images/portfolioImages/w6.jpg" alt="">
              </a>
            </div>
          </li>
          <li class="one-third column  item " data-id="id-7" data-type="catMotion">
            <div>
              <a href="assets/images/portfolioImages/wl7.jpg" class="folio">
                <div class="desc">
                  <h3 class="projDesc">Project Name <span>&#8213; motion graphic &#8213;</span></h3>
                </div>
                <img src="assets/images/portfolioImages/w7.jpg" alt="">
              </a>
            </div>
          </li>
          <li class="one-third column  item " data-id="id-8" data-type="catMotion">
            <div>
              <a href="assets/images/portfolioImages/wl8.jpg" class="folio">
                <div class="desc">
                  <h3 class="projDesc">Project Name <span>&#8213; motion graphic &#8213;</span></h3>
                </div>
                <img src="assets/images/portfolioImages/w8.jpg" alt="">
              </a>
            </div>
          </li>
          <li class="one-third column  item " data-id="id-9" data-type="catMotion">
            <div>
              <a href="assets/images/portfolioImages/wl9.jpg" class="folio">
                <div class="desc">
                  <h3 class="projDesc">Project Name <span>&#8213; motion graphic &#8213;</span></h3>
                </div>
                <img src="assets/images/portfolioImages/w9.jpg" alt="">
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
