<div class="widget">
  <h2 class="titleSmall">Programming Skills</h2>
  <ul class="skillsList clearfix">
    <li>
      <h4>Ruby</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
      </div>
    </li>
    <li>
      <h4>rails</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
      </div>
    </li>
    <li>
      <h4>html</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
      </div>
    </li>
    <li>
      <h4>css</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
      </div>
    </li>
    <li>
      <h4>javascrip</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
      </div>
    </li>
    <li>
      <h4>tdd</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
      </div>
    </li>
    <li>
      <h4>git</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
      </div>
    </li>
  </ul>
</div>
